            
            <section class="recommendations-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.recommendations.icon }}"></i>{{ i18n "recommendations" }}&nbsp;(<a href="/admin/#/collections/recommendations">Afegir</a>)</h2>
                <div class="recommendationsset">
                    <ul>
                    {{ range .Pages }}
                    {{ if isset .Params "title" }}
                    <li>
                        <!--<a href="{{ .Permalink }}">{{ .Title }}&nbsp;(<time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>)</a>-->
                        {{ .Title }}&nbsp;(<time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>)
                        <br>
                        <i>{{ .Description }}</i>
                        <br>
                    </li>
                    <br>
                    {{ end }}
                    {{ end }}
                    </ul>
                </div>
            </section><!--//recommendations-section-->
